@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: "Angello";
  src: url("../src/assets/font/Angello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.angello {
  font-family: "Angello", cursive;
}
@font-face {
  font-family: "Salsify";
  src: url("../src/assets/font/Salsify.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.salsify {
  font-family: "Salsify", cursive;
}

:root {
  --primary: #1CA7A6;
  --secondary: #FF6B5A;

}
.container{
  @apply w-[95%] lg:w-[80%] mx-auto
}

*{
  box-sizing: border-box;
}
.bg{
  background-color: var(--primary) !important;
}
.color{
  color: var(--primary) !important;
}
.hcolor{
   @apply hover:text-[var(--primary)]!
}
.border1 {
  border-color: var(--primary) !important;   
}
.hbg{
  @apply hover:bg-[var(--primary)]!
}


.bg2{
  background-color: var(--secondary) !important;
}
.hbg2{
  @apply hover:bg-[var(--secondary)]!
}

.color2{
  color: var(--secondary) !important;
}
.hcolor2{
   @apply hover:text-[var(--secondary)]!
}
.border2 {
  border-color: var(--secondary) !important;   
}

.hero {
    background-image: url('/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    z-index: 1;
}

/* Overlay */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5); /* overlay color */
    z-index: -1;
}
